{
  "auth0": {
    "clientId": "1J2g4gsQX11e5WD7kgjlbeQj0qx14kfz",
    "clientSecret": "**secret**",
    "domain": "login.bcc.no",
    "apiAudience": "https://widgets.brunstad.org"
  },
  "api": {
    "baseUrl": "http://localhost:5001/brunstadtv-online-dev/europe-west1",
    "key": "**secret**"
  },
  "app": {
    "baseUrl": "http://localhost:8080",
	"sharedApiKey": ""
  }
}
